[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "r.blip"]
	path = r.blip
	url = https://github.com/mauro-idsia/r.blip
	shallow = true
	registered = true
